/*
vh= altura
vw = largura
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Inter";
}

body{
    background-color: #FFFFFF;
    /* color: white; */
    min-height: 100vh; /*Altura mínima da página*/
    min-width: 10vw; /*Largura minima*/
}

header{
    background-color: #246644;
    width: 100%;
    height: 20vh;
}



header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
}

.logo img{
    width: 40vh;
} 

 ---------------------- login ---------------------
.container-login {
    width:100vw;
    height: 100vh;
}
.box-login {
    background:#246644;
    width: 60%;
    height: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;

    }

.box-login>input{
    width: 100%;
    border: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    background: #534d62;
    color: #FFFFFF;
    box-shadow:0px 10px 40px #744b4b56 ;
    outline: none;
    box-sizing: border-box;

}


<<<<<<< Updated upstream


.area-login {
    height: 70vh;
    display:flex;
    margin: 60px auto;
    justify-content: center;
=======
 
/* .area-login {
    width: 530px;
    margin:50px auto;
>>>>>>> Stashed changes
    text-align: center;
}


main {
    background: #246644;
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-sizing: border-box;
}


.container form{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.container input{
    background-color: #FFFFFF;
    color: #959595;
    border:none ; /*Remover as bordas*/
    width: 370px;
    height: 55px; /*Definir os tamanhos dos inputs*/
    outline: none; /*Remover as bordas de quando o usuário clica em uma caixa de texto, fica uma borda*/
    border-radius: 10px; /*Deixar as bordas aredondadas*/
    
}


.container h1 {

    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    margin-right: auto;
    color: #FFFFFF;
}

h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    text-align: center;
    color: #FFFFFF;

}

h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    width: 370px;
    margin-top: 10px;
    color: #FFFFFF;
}

input::placeholder{
    color: #959595;
    font-size: 16px; /*Tamanho do texto que tem dentro do input (não o texto que a pessoa escreve)*/
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    display: flex;
    align-items: center;    
    color: #959595;
    padding-left: 10px; /*Dar um espaço entre o texto e as bordas da caixa de texto*/
}

form [type="submit"]{
    display: block;
    width: 200px;   
    background-color: #FFFFFF;
    cursor: pointer; /*Quando passar o mouse em cima, ficar uma mãozinha, indicando que é um link*/
    font-weight: 700;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    height: 40px; /*Definir os tamanhos dos inputs*/
    width: 150px;

}

form [value="Entrar"]{
    font-style: normal;
    font-weight: 700;
    font-size: 20px; /*Tamanho da fonte do botão de entrar*/
    color: #1E1E1E;
    display: flex;
    justify-content: center;
}

/* ---------------------- Roda pé --------------------*/


footer {
    width: 100%;
    height: 10vh;
    background: #246644;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}


footer h1{

    font-style: normal;
    font-weight: 700;
    font-size: 2vh;
    color: #FFFFFF;
}

