body{
    margin: 0;
}

.Parte-cima {
    background-color: #246644;
    width: 100vw;
    height: 15vh;
}

.Central-info {
    background-color: #246644;
    width:70vw;
    height:60vh;
    border-radius: 30px;
    margin: 9% 15% ;
}


h2{
    background-color: rgb(174, 143, 143);
    border: none;
    border-radius: 20px;
    width:60%;
    height:10%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 30%;
    
    padding: 5px 15px;
}