body{
    margin: 0;
}

.Parte-cima {
    background-color: #246644;
    width: 100vw;
    height: 15vh;
}

.Central-info {
    background-color: #246644;
    width:70vw;
    height:60vh;
    border-radius: 30px;
    margin: 9% 15% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.info{
    background-color:#246644;
    width:40vw;
    height: 50vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 400px;
    margin-bottom:499px;
}
h2{
    background-color:#ffffff;
    border-radius: 20px;
    width:95%;
    height: 90%;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: ;
    

}
.foto{
    width: 30%;
    border-radius: 50%;
    margin-top: 245px;
    margin-right: 650px;
